#DataMarketPlaceComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Assuming you want to fill the viewport */
    padding-top: 200px; /* Increases top padding, pushing everything down */
  }
  
  .text-description {
    margin-top: 20px; /* Adds more space above the text */
    color: white;
    text-align: center;
  }